//подвал
.address {
  background-color: $accent-page-color;
  padding-top: 60px;
  padding-bottom: 60px;
}

// логотип
.address__logo {
  color: $accent-text-color;
  font-family: $logo-font;
  @include font(700, 26px, 1.192);

  &--margin {
    display: block;
    margin-bottom: 20px;
  }
  &--light {
    color: $white;
  }
}

.address__container {
  @include flex(flex, baseline);
  justify-content: space-around;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__location,
.address__contacts {
  @include font(400, 14px, 1.714);
  font-style: normal;
}

.address__location {
  color: $white;
}

.address__contacts {
  color: $alpha-text;
}

//ссылки на соц-сети

.social-media {
  width: 206px;
  margin-left: 70px;
}

.social-media__title,
.our-mail__title {
  color: $white;
  margin-top: 0;
  margin-bottom: 20px;
  @include font(700, 14px, 1.142);
  text-transform: uppercase;
}

.our-mail {
  width: 570px;
  margin-left: 93px;
}

.our-mail__form {
  display: flex;
}

.our-mail__input {
  width: 358px;
  margin-right: 12px;
  border-radius: 4px;
  padding: 15px;
  @include font(400, 16px, 1.25);
  color: $alpha-text;
  border-color: $alpha-border;
  background-color: $accent-page-color;
  box-shadow: $shadow-button;
}

.our-mail__button {
  @include flex(flex, center);
  justify-content: space-between;
  padding: 10px 28px;
  width: 200px;

  font-family: inherit;
  @include font(700, 16px, 1.875);
  letter-spacing: 0.06em;

  border-radius: 4px;
  color: $white;
  background-color: $accent-text-color;
  border: 0;
  box-shadow: none;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: $shadow-button;
    cursor: pointer;
  }
}
